*
{
    padding: 0;
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;
}
.loginArea {
    margin: auto;
    background-color: #ffffff;
    padding: 50px;
    max-width: 550px;
}
.loginButton, .registerButton {
    display: inline-block;
    height: 50px;
    line-height: 48px;
    border-radius: 25px;
    padding: 0 35px;
    border: 1px solid #fe5000;
    box-shadow: 0 7px 21px rgba(0,0,0,.2);
    text-align: center;
    min-width: 175px;
    background-color: #fe5000;
    color: #fff;
}
.loginCont {
   height: 100vh;
    background-color: #f9f4f0;


}
.org{
    color: #fe5000;

}
.bg-org{
    background-color: #fe5000;
}
.nav-bayabaty
{
    font-size: 28px;
}
.fi-02 {
    font-family: "MabryPro", sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 66px;
    letter-spacing: -2px;
}
.fi-03 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.4px;
}
.sec-2
{
    background-color: #f9f4f0 ;
}
.shsize{
    font-size:  5rem;
}
.user-cards
{
    border: none;
    border-radius: 3%;
}
.line::after
{ content: "";
    background-color: #fe5000;
    width: 15%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 42.5%;
}
input[type="date"]{
    background-color: #fe5000;
    padding: 15px;
    top: 50%;
    left: 50%;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.inp{
background-color: #ffffff;
  margin: auto; 
  border: none;
  border-bottom: 2px solid #000000;
  

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.photo-input-container {
    position: relative;
    margin-top: 200px;
    
  }
  
  .custom-label {
    display: inline-block;
    cursor: pointer;
  }
  
  .preview-image {
    width: 100%;
    height: auto;
    border: 2px solid #fe5000;
    border-radius: 8px;
  }
  
  .placeholder-text {
    color: #fe5000;
    text-align: center;
    padding: 10px;
    border: 2px dashed #fe5000;
    border-radius: 8px;
  }
  
  .hidden-input {
    display: none;
  }
  
#flex-radio-1{
    display: flex;
    flex-direction: row; 
}

    #validationFormCheck2{
        order: 1;
    }

    #validationFormCheck2-label{
        order: 2;
    }

    #validationFormCheck3{
        order: 3;
    }

    #validationFormCheck3-label{
        order: 4;
    }

    #validationFormCheck4{
        order: 5;
    }

    #validationFormCheck4-label{
        order: 6;
    }

    #validationFormCheck5{
        order: 7;
    }

    #validationFormCheck5-label{
        order: 8;
    }

#flex-radio-2{
    display: flex;
    flex-direction: row;
}

    #validationFormCheck10-label{
        order: 1;
    }

    #validationFormCheck10{
        order: 2;
    }

    #validationFormCheck6-label{
        order: 3;
    }

    #validationFormCheck6{
        order: 4;
    }

    #validationFormCheck7-label{
        order: 5;
    }

    #validationFormCheck7{
        order: 6;
    }

    #validationFormCheck8-label{
        order: 7;
    }

    #validationFormCheck8{
        order: 8;
    }

    #validationFormCheck9-label{
        order: 9;
    }

    #validationFormCheck9{
        order: 10;
    }


#flex-radio-3 {
    display: flex;
    flex-direction: row;
}

    #work{
        order: 1;
    }
    label[for="work"]{
        order: 2;
    }

    #notworking{
        order: 3;
    }

    label[for="notworking"]{
        order: 4;
    }